{% extends "base.html" %}
{% block content %}

<div class="body1 banner-area">

  <img class="imglot1" src="static/images/parkinglot1.jpg" alt="">


</div>

<h1 class="banner-area1">You Want To Park Your Car?</h1>
<h1>Pick A Location</h1>
<div class="d-grid gap-2  col-6 mx-auto">
  <select class="form-select" aria-label="Default select example">
    <option selected>SELECT LOT TO PACK VEHICLE</option>
    <option value="1">Lot One</option>
    <option value="2">Lot Two</option>
    <option value="3">Lot Three</option>
  </select>
  <button class="btn btn-primary " type="button">Click Me</button>
</div>

<div class="body1 ">
  
  <div class="wrapper">
    <h2>Content AreA</h2>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero harum eius aperiam minima pariatur reiciendis vel
      maiores blanditiis. Nisi, qui? Minima inventore consequuntur nostrum quas voluptatum autem assumenda itaque. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Quasi officiis animi doloremque, pariatur omnis reprehenderit
      hic numquam tempora consequuntur fugit eligendi amet harum delectus perspiciatis molestiae quibusdam, qui nesciunt
      ratione.Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero harum eius aperiam minima pariatur
      reiciendis vel maiores blanditiis. Nisi, qui? Minima inventore consequuntur nostrum quas voluptatum autem
      assumenda itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi officiis animi doloremque,
      pariatur omnis reprehenderit hic numquam tempora consequuntur fugit eligendi amet harum delectus perspiciatis
      molestiae quibusdam, qui nesciunt ratione.
    </P>

  </div>

</div>




{% endblock%}