{% extends 'base.html' %}
{% block title %}
Home page
{% endblock %}
{% block content %}
<div class="loginbox">
    <img src="static/images/avatar.png" class="avatar" alt="">
    <h1>Login Here</h1>
    <form class="boxform">
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password">
        <input type="submit" name="" value="Login">
        <a href="#"> Lost your password?</a><br>
        <a href="#">Don't have an account?</a>

    </form>

</div>

{% endblock %}