{% extends "base.html" %}
{% block content %}


<div>
    <img class="imglot1" src="static/images/CAR-IMAGE2.jpg" alt="">
</div>
<div class="vehicleinfo">

    <form class="col s12" form method="POST" action="#">
        <select class="form-select" aria-label="Default select example" name="lot" required>
            <option selected>SELECT LOT TO PACK VEHICLE</option>
            <option value="1">Lot One</option>
            <option value="2">Lot Two</option>
            <option value="3">Lot Three</option>
        </select>
        <select class="form-select" aria-label="Default select example" name="vehicle" required>
            <option selected>VEHICLE MAKE</option>
            <option value="1">TOYOTA</option>
            <option value="2">BMW</option>
            <option value="3">MECEDES</option>
            <option value="4">FORD</option>
            <option value="5">CHEVEROLET</option>
            <option value="6">AUDI</option>
            <option value="7">VOLKS</option>
            <option value="8">NISAN</option>
            <option value="9">HONDA</option>
            <option value="10">BULK</option>
            <option value="11">HYUNDAI</option>
            <option value="12">KIA</option>
        </select>

        <div class="row">
            <div class="col s12">
                <input type="text" class="carmodel" placeholder="Model" aria-label="Model" name="model" required>
            </div>
            <div class="col s12">
                <input type="text" class="year" placeholder="Year" aria-label="Year" name="year" required>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input type="text" class="platenumber" placeholder="Plate Number" aria-label="Plate Number"
                    name="plate number" required>
            </div>
            <div class="col s12">
                <input type="text" class="color" placeholder="Color of Car" aria-label="color" name="color" required>
            </div>
        </div>
        <div class="d-grid gap-2 s12">
            <button class="btn btn-primary col-8 mx-auto" type="submit">SUBMIT</button>
        </div>


    </form>
</div>




{% endblock%}